MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/taste
JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=mediaflows_4abfa065-dc5c-4a1d-9f7a-da6a9eaa1134
CLOUDINARY_API_KEY=278994566289767
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
PORT=3000
NODE_ENV=development
